<% binding.pry %>
<h1><%= location.name %></h1>

<p><%= location.address %></p>

<% if session[:user].admin %>
  <h3>Members at this location:</h3>
  <ul>
    <% members.each do |member| %>
      <li><a href="/members/<%= member.id %>"><%= member.name %></a></li>
    <% end %>
  </ul>
<% end %>
